minio==7.2.20
pymilvus==2.6.5
openai==2.11.0
python-dotenv==1.2.1
pypdf==6.8.0
markitdown==0.1.4
langchain-text-splitters==1.1.0
oss2==2.19.1
# 如果执行的时候有报错（漏掉依赖包）可以：
# pip install -U "mineru[all]"
# pip install hf_xet
mineru==2.7.6
torch==2.10.0
# 如果安装doclayout_yolo报错
# 可以试试先安装pip install --only-binary :all: stringzilla
# 然后再安装pip install --only-binary :all: stringzilla
doclayout_yolo==0.0.4
langchain-text-splitters==1.1.0
